mixin stuff(stuff)
  div(class='stuff')
    div(class='stuff--img')
      picture
        source(srcset=`${require(`Images/stuff/${stuff.photo}-200.webp`).default},
                       ${require(`Images/stuff/${stuff.photo}-400.webp`).default} 2x`
              type='image/webp')
        source(srcset=`${require(`Images/stuff/${stuff.photo}-200.jpg`).default},
                       ${require(`Images/stuff/${stuff.photo}-400.jpg`).default} 2x`
              type='image/jpg')
        img(src=require(`Images/stuff/${stuff.photo}-400.jpg`).default alt=`${stuff.name}` width='200' height='200')
    p(class='stuff--name') #{stuff.name}